@model BaseballStat.Web.ViewModels.Award.AwardListViewModel

@{
    this.ViewData["Title"] = "Awards of BaseballStat";
}

<div class="row">
    <!-- Award Posts -->
    @foreach (var award in Model.Awards)
    {
        <div class="col-lg-6">
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <!-- Award Post -->
            <div class="card">
                <img src="@award.ImageUrl" class="card-img-top" alt="@award.Description">
                <div class="card-body">
                    <h2 class="card-title text-center">@award.Description</h2>
                    <p class="card-text text-center">@award.Winner (@award.Year)</p>
                    <div class="text-center">
                        <div class="row">
                            <div class="col">
                                <div class="button button-large button_1 elements_button mt-4">
                                    <a asp-area="" asp-controller="AwardType" asp-action="Index" asp-route-id="@award.AwardTypeId">
                                        <label for="submit" class="btn btn-primary">Award Type</label>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>