@model BaseballStat.Web.ViewModels.AllTimeGreat.AllTimeGreatListViewModel

@{
    this.ViewData["Title"] = "AllTimeGreat of BaseballStat";
}

<div class="row">
    <!-- Award Posts -->
    @foreach (var allTimeGreat in Model.AllTimeGreats)
    {
        <div class="col-lg-6">
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <!-- Award Post -->
            <div class="card">
                <img src="@allTimeGreat.ImageUrl" class="card-img-top img-fixed-size" alt="@allTimeGreat.Name">
                <div class="card-body">
                    <h1 class="card-title text-center">@allTimeGreat.Name</h1>
                    <h3 class="card-text text-center">@allTimeGreat.Bio</h3>
                    <div class="text-center">
                        <div class="row">
                            <div class="col">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<nav>
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@i">@i</a>
                </li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        }
    </ul>
</nav>
