﻿<!-- Sidebar -->
<div class="bg-light border border-secondary vh-100" id="sidebar-wrapper" style="font-size: larger;">
    <div class="sidebar-heading text-center py-3">
        <strong><u>Admin</u></strong>
    </div>
    <div class="list-group list-group-flush">
        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("Dashboard")">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
        <a asp-area="Administration" asp-controller="Player" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("Player")">
            <i class="fas fa-user me-2"></i> Player
        </a>
        <a asp-area="Administration" asp-controller="PlayerStatistic" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("PlayerStatistic")">
            <i class="fas fa-chart-bar me-2"></i> Player Statistic
        </a>
        <a asp-area="Administration" asp-controller="Team" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("Team")">
            <i class="fas fa-users me-2"></i> Team
        </a>
        <a asp-area="Administration" asp-controller="TeamStatistic" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("TeamStatistic")">
            <i class="fas fa-chart-pie me-2"></i> Team Statistic
        </a>
        <a asp-area="Administration" asp-controller="League" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("League")">
            <i class="fas fa-trophy me-2"></i> League
        </a>
        <a asp-area="Administration" asp-controller="AllTimeGreat" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("AllTimeGreat")">
            <i class="fas fa-trophy me-2"></i> AllTimeGreat
        </a>
        <a asp-area="Administration" asp-controller="Record" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("Record")">
            <i class="fas fa-trophy me-2"></i> Record
        </a>
        <a asp-area="Administration" asp-controller="LeagueStatistic" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("LeagueStatistic")">
            <i class="fas fa-list-alt me-2"></i> League Statistic
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Index"
           class="list-group-item list-group-item-action @GetActiveClass("Home")">
            <i class="fas fa-home me-2"></i> Home
        </a>
    </div>
</div>

@functions {
    string GetActiveClass(string controller)
    {
        return ViewContext.RouteData.Values["controller"]?.ToString() == controller ? "active bg-secondary text-white" : "bg-light";
    }
}