@model BaseballStat.Web.ViewModels.Team.TeamListViewModel
@{
    ViewData["Title"] = "Teams";
}

<div class="col-lg-12 justify-content-center">
    <h2 class="text-center">Teams</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="font-weight: bold; font-size: larger;">Name</th>
                <th style="font-weight: bold; font-size: larger;">City</th>
                <th style="font-weight: bold; font-size: larger;">Founded Year</th>
                <th style="font-weight: bold; font-size: larger;">Owner</th>
                <th style="font-weight: bold; font-size: larger;">Stadium</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.Teams)
            {
                <tr>
                    <td style="font-weight: bold; font-size: larger;">@team.Name</td>
                    <td style="font-weight: bold; font-size: larger;">@team.City</td>
                    <td style="font-weight: bold; font-size: larger;">@team.FoundedYear</td>
                    <td style="font-weight: bold; font-size: larger;">@team.Owner</td>
                    <td style="font-weight: bold; font-size: larger;">@team.Stadium</td>
                    <td><img src="@team.LogoUrl" alt="Team Logo" width="200" height="200" /></td>
                    <td>
                        <form method="post" asp-action="AddTeam" asp-controller="Team" asp-area="Administration" style="display: inline;">
                            <input type="hidden" name="id" value="@team.Id" />
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                        <form method="post" asp-action="DeleteTeam" asp-controller="Team" asp-area="Administration" style="display: inline;">
                            <input type="hidden" name="id" value="@team.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<nav>
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@i">@i</a>
                </li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        }
    </ul>
</nav>