@model BaseballStat.Web.ViewModels.Category.CategoriesListViewModel

@{
    this.ViewData["Title"] = "Categories of BaseballStat";
}

<div class="row">
    <!-- Iterate through categories -->
    @foreach (var category in Model.Categories)
    {
        <div class="col-lg-4">
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <!-- Card for category -->
            <div class="card">
                <img src="@category.ImageUrl" class="card-img-top img-fluid" alt="@category.Name" style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <h2 class="card-title text-center">@category.Name</h2>
                    <p class="card-text">@category.Description</p>

                    <!-- Awards Button -->
                    <div class="text-center mt-3">
                        <a asp-controller="Award" asp-action="Index" asp-route-id="@category.Id" class="btn btn-primary btn-block">
                            Awards
                        </a>
                    </div>

                    <!-- Records Button -->
                    <div class="text-center mt-3">
                        <a asp-controller="Records" asp-action="Index" asp-route-id="@category.Id" class="btn btn-primary btn-block">
                            Records
                        </a>
                    </div>

                    <!-- All Time Greats Button -->
                    <div class="text-center mt-3">
                        <a asp-controller="AllTimeGreats" asp-action="Index" asp-route-id="@category.Id" class="btn btn-primary btn-block">
                            All Time Greats
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
