@model BaseballStat.Web.ViewModels.Team.TeamListViewModel


@{
    this.ViewData["Title"] = "Teams of BaseballStat";
}

<div class="row">
    <!-- Team Posts -->
    @foreach (var team in Model.Teams)
    {
        <div class="col-lg-3">
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <!-- Team Post -->
            <div class="card">
                <img src="@team.LogoUrl" class="card-img-top" alt="@team.Name">
                <div class="card-body">
                    <h2 class="card-title text-center">@team.Name</h2>
                    <p class="card-text"><b>City:</b> @team.City</p>
                    <p class="card-text"><b>Stadium:</b> @team.Stadium</p>
                    <p class="card-text"><b>FoundedYear:</b> @team.FoundedYear</p>
                    <p class="card-text"><b>Owner:</b> @team.Owner</p>
                    <div class="text-center">
                        <div class="row">
                            <div class="col">
                                <div class="button button-large button_1 elements_button mt-4">
                                    <a asp-area="" asp-controller="TeamStatistic" asp-action="Index" asp-route-id="@team.Id" >
                                        <label for="submit" class="btn btn-primary">Team Statistic</label>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
