@model BaseballStat.Web.ViewModels.Team.TeamListViewModel


@{
    this.ViewData["Title"] = "Teams of BaseballStat";
}

<div class="container">
    <div class="row justify-content-center">
        <!-- Team Posts -->
        @foreach (var team in Model.Teams)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img src="@team.LogoUrl" class="card-img-top" alt="@team.Name" style="object-fit: cover; height: 400px;">
                    <div class="card-body text-center">
                        <h2 class="card-title">@team.Name</h2>
                        <p class="card-text"><b>City:</b> @team.City</p>
                        <p class="card-text"><b>Stadium:</b> @team.Stadium</p>
                        <p class="card-text"><b>Founded Year:</b> @team.FoundedYear</p>
                        <p class="card-text"><b>Owner:</b> @team.Owner</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <a asp-area="" asp-controller="TeamStatistic" asp-action="Index" asp-route-id="@team.Id" class="btn btn-primary mt-3">Team Statistic</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<nav>
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@i">@i</a>
                </li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        }
    </ul>
</nav>
